@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

:root {
  --secondry-background-color: #eef6fd;
  --primary-text-color: black;
  --primary-text-color-reverse: white;
  --secondry-text-color: gray;
  --food-color-1: #eae6ff;
  --button-color: rgb(223, 65, 65);
  --button-color-2: #8a86e2;
}

/* General */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Lalezar";
  color: var(--primary-text-color);
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .title {
  font-size: 30px;
}

.header .text {
  margin-top: -30px;
  color: var(--secondry-text-color);
}

.header img {
  width: 80%;
  height: 80%;

  margin-top: 30px;
}

/* Main Page */
.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

  margin-top: 20px;
}

.item {
  width: 40vw;

  border: none;
  outline: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.item-clicked {
  -webkit-animation-name: foodClickAnim;
  animation-name: foodClickAnim;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

@keyframes foodClickAnim {
    from {
    background-color: white;
  }
  to {
    background-color: gray;
  }
}

.item .container {
  background-color: var(--food-color-1);
  height: auto;
  border-radius: 10px;
  aspect-ratio: 1;
  height: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.item .container .add-to-cart {
  position: absolute;
  right: 0;
  bottom: 0;

  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-color);
}

.item .container .add-to-cart p {
  color: var(--primary-text-color-reverse);
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

.item .container .add-to-cart img {
  width: 35px;
  color: white;
  margin-bottom: -5px;
}

.item .bottom {
  display: flex;
  justify-content: space-evenly;
}

/* Login Page */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70vw;
}

#login input[type="text"],
#login input[type="password"],
#login input[type="submit"] {
  margin-bottom: 20px;
  padding: 10px;
  padding-right: 15px;

  border-radius: 10px;
  font-size: 18px;
  width: 100%;

  font-family: "Lalezar";
  background-color: var(--secondry-background-color);
  filter: drop-shadow(0px 1px 1px #aaa);

  outline: none;
  border: none;
}

#login input[type="text"]:focus,
#login input[type="password"]:focus {
  border-width: 2px;
  filter: drop-shadow(0px 1px 1px var(--food-color-1));
}

#login input[type="submit"] {
  background-color: var(--button-color);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: calc(100% + 25px);
}

/* Transaction Page */
.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transaction-card {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: var(--secondry-background-color);
  border: none;
  outline: none;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 1px #aaa);
}

.transaction-card p {
  margin: 0px;
  padding: 0px;
}

.transactions .top {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.transactions .top .right,
.transactions .top .left {
  width: 50%;
}

.transactions .top .right p {
  text-align: right;
}

.transactions .top .left p {
  text-align: left;
}

.transactions .middle {
  padding-right: 5px;
}

.transactions .middle p {
  text-align: right;
}

.transactions .bottom {
  padding-left: 5px;
  padding-bottom: 5px;
}

.transactions .bottom p {
  text-align: left;
}
